.line {
    height: .2rem;
    width: 10rem;
    background-color: black;
    margin: 0 .5rem;
    color: $off-black;
}

.break {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $off-black;
}

.break__text {
    font-size: 1.5rem;
    color: $off-black;
    font-family: $f-top;
}