@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Serif');

//colors
$light-grey: #BDBDBE;
$grey: #7E8D85;
$off-white: #E6E8F4;
$off-black: #323545;
$blue: #3C457D;

//fonts
$f-top: 'Noto Serif', serif;
$f-bottom: 'Noto Sans', sans-serif;

//breakpoint
$desktop-breakpoint: 45rem;

//sizes
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

//font-size
$f-size-l: 1.8rem;
$f-size-s: 1.4rem;